<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!-- Con autentificación Windows-->
    <add name="connBD" connectionString="Data Source=DESKTOP-E8SK85M\SQL2017; DATABASE=Nestle; Trusted_Connection=true; INTEGRATED SECURITY=true;" providerName="System.Data.SqlClient" />
    <!-- Con usuario y pass-->
    <add name="connBD2" connectionString="Data Source=DESKTOP-E8SK85M\SQL2017; DATABASE=BD_DesarrolloCsharpSQL; Trusted_Connection=true; UserID=Admin;Password=123abc*;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>